div.is-centered {
  margin: auto;
}

body.one-sidebar #page-content {
  width: 80%;
}

body.one-sidebar.sidebar-second #page-content {
    padding-right: 24px;
    padding-left: 62px;
}

body.two-sidebars #page-content {
  width: 60%;
}

body.sidebar-left #main-squeeze {
  margin-left: 20px;
}

body.sidebar-right #main-squeeze {
  margin-right: 20px;
}

body.two-sidebars #main-squeeze {
  margin: 0 20px;
}

#header {
  height: 284px;
  position: relative;
}

#site-title {
  position: absolute;
  top: 84px;
}

#highlighted {
  height: 228px;
  width: 100%;
}

#main {
  padding-bottom: 29px;
}

#page-title {
    padding-top: 31px;
    padding-bottom: 14px;
}

#content-wrapper {
  padding-bottom: 68px;
  /*width: 100%;*/
}

#sidebar-first,
#page-content,
#sidebar-second {
  position: relative;
  padding-top: 22px;
  padding-bottom: 16px;
}

#sidebar-first,
#sidebar-second {
  /*width: 20%;*/
}

#sidebar-first {
  /*float: left;*/
  margin-left: 42px;
}

#page-content {
  /*float: left;*/
}

#sidebar-second {
  /*float: right;*/
  margin-right: 42px;
}

#footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 3rem 1.5rem 2rem !important;
  position: absolute;
  width: 100%;
}

.page-wrapper {
  height: 100%;
  margin: 0px;
  padding: 0px 0px 208px 0px;
  position: relative;
}

html, body {
  margin: 0px;
  padding: 0px;
}
