div.is-centered {
  margin: auto;
}

body.one-sidebar #page-content {
  width: 80%;
}

body.one-sidebar.sidebar-second #page-content {
    padding-right: 24px;
    padding-left: 62px;
}

body.two-sidebars #page-content {
  width: 60%;
}

body.sidebar-left #main-squeeze {
  margin-left: 20px;
}

body.sidebar-right #main-squeeze {
  margin-right: 20px;
}

body.two-sidebars #main-squeeze {
  margin: 0 20px;
}

#header {
  min-height: 284px;
  position: relative;
}

#site-title {
  display: inline-block;
  /*position: absolute;*/
  /*top: 84px;*/
  width:115%;
}

#search {
  padding: 22px 0px;
}

#highlighted {
  height: 228px;
  width: 100%;
}

#main {
  padding-bottom: 29px;
}

#page-title {
    padding-top: 31px;
    padding-bottom: 14px;
}

#main-menu {
    bottom: 0px;
    display: inline-block;
    height: 2.6em;
    /*position: absolute;*/
    /*width: 100%;*/
}

#content-wrapper {
  padding-bottom: 68px;
  /*width: 100%;*/
}

#sidebar-first,
#page-content,
#sidebar-second {
  position: relative;
  padding-top: 22px;
  padding-bottom: 16px;
}

#sidebar-first,
#sidebar-second {
  /*width: 20%;*/
}

#sidebar-first {
  /*float: left;*/
  margin-left: 42px;
}

#page-content {
  /*float: left;*/
}

#sidebar-second {
  /*float: right;*/
  margin-right: 42px;
}

#sidebar-first .views-element-container:not(:first-child) {
  padding-top: 19px;
}

#sidebar-second .views-element-container {
  padding-left: 11px;
}

#sidebar-second .views-element-container:not(:first-child) {
  padding-top: 19px;
}

#footer {
  left: 0px;
  right: 0px;
  padding: 3rem 1.5rem 2rem !important;
  position: absolute;
  width: 100%;
}

.site-title-wrapper {
  padding-top: 44px;
  /*width: 52%;*/
  display: inline-block;
}

.page-wrapper {
  height: 100%;
  margin: 0px;
  padding: 0px 0px 208px 0px;
  position: relative;
}

.field-tags {
    display: inline-block;
    /* padding-top: 14px; */
    margin-top: 14px;
    padding-right: 14px;
    /* border-top-style: groove; */
}

.field-tags .field-label {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.field-tags .field-items {
    list-style: none;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}

.field-tags .field-item {
    display: inline-block;
}

.search-control {
  margin-left: auto;
  margin-right: auto;
  width: 74%;
}

.search-control input[type="search"] {
    border-radius: 0;
}

.rate-widget-yesno ul li {
    margin-top: 0px;
}

html, body {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #000;
  }

  #main {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  #sidebar-first {
    margin-left: 0 !important;
  }

  #sidebar-second .views-element-container {
    border-left: none !important;
  }

  .content:not(:last-child) {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 769px), print {
  #footer {
    bottom: 0px !important;
  }
}