h1, h2, h3, h4, h5 {
    font-family: "Oswald", "sans-serif";
    font-weight: 300;
}

a {
    color: #426da9;
}

body {
    background-color: #999999;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.button.is-primary {
    background-color: #aa1a1e;
}

.button.is-primary:hover {
    background-color: #862633;
}

#header {
    background-image: url(../images/header-banner.jpg);
    background-position-x: right;
    background-position-y: -174px;
    background-repeat: no-repeat;
}

#site-title {
    background-color: #aa1a1e;
    color: #FFF;
    padding: 18px 93px 21px 49px;
}

#site-title .title {
    color: #FFF !important;
    text-transform: uppercase;
}

#main-menu {
    /* background-color: white; */
}

#main-menu ul {
    height: 100%;
    float: left;
    list-style: none;
    /* padding-left: 24px; */
}

#main-menu ul li {
    background-color: maroon;
    color: white;
    float: left;
    height: 100%;
    line-height: 2.6em;
    min-width: 8.4em;
    padding: 0px 8px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#main-menu ul.menu > li:not(:first-child)::before {
    content: '';
    border-left: 2px solid #A7A8AA;
    height: 70%;
    left: 0px;
    position: absolute;
    top: 15%;
}

#main-menu ul ul {
    min-width: 12em;
    width: auto !important;
    white-space: nowrap;
}

#main-menu ul ul li {
    background-color: #A7A8AA;
}

#main-menu ul.menu > li > ul > li:not(:first-child)::before {
    content: '';
    background-color: maroon;
    border-top: 1px solid maroon;
    height: 1px;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-menu ul li a {
    color: white;
    display: block;
    font-family: "Oswald", "sans-serif";
    height: 100%;
    padding: 0px 14px;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}

#main-menu ul li:hover ul {
    display: block;
}

#main-menu ul li ul {
    list-style: none;
    position: absolute;
    border: none;
    display: none;
}

#highlighted {
  background-color: #eceae3;
  padding: 16px 0px;
}

#main {
    background: white;
    width: 100%;
}

#sidebar-second .views-element-container:not(:first-child) {
  border-left: solid;
}

#footer {
    background-color: #000;
    color: #FFF;
}

footer h2 {
    color: maroon;
    font-size: 1.6rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: maroon;
}